*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body ,html{
    height: 100%;
    width: 100%;
    background-color: rgb(218, 192, 192);
    display: flex;
    align-items: center;
    justify-content: center;
}
.todoBox{
    /* height: 500px; */
    width: 500px;
    background-color: #b3a7b3;
    border-radius: 20px;
}
.todo{
    height: 70px;
    width: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
   
}
.todo input {
    height: 40px;
    width: 300px;
    font-size: 1rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid gray;
    font-size: 1rem;
    padding-left: 10px;
}
.todo button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    background-color: rgb(88, 88, 168);
    color: #fff;
    font-size: 1rem;
}
.list{
    margin-top: 10px;
    margin-bottom: 20px;
}

.list li{
    margin-top: 10px;
    list-style: none;
    margin-left: 80px;
    font-size: 1rem;
}
.delete-Btn{
    color: red;
    margin-left: 300px;
}
.delete-Btn:hover{
    color: darkred;
    
}
.todoBox h2{
    margin-left: 180px;
    font-family: 'Times New Roman', Times, serif;
}